<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbgb.crud.mappers.BoardMapper">

    <select id="getBoardTotal" resultType="long">
        select COUNT(*)
        from tbl_board b
        left outer join tbl_board_image i on i.bno = b.bno
        where (i.ord = 0 OR i.ord IS NULL) AND b.status = 0
        <if test="type != null and keyword != null">
            <if test='type == "tc"'>
                and (b.title like concat('%', #{keyword}, '%')
                or b.content like concat('%', #{keyword}, '%'))
            </if>
            <if test='type == "t"'>
                and b.title like concat('%', #{keyword}, '%')
            </if>
            <if test='type == "c"'>
                and b.content like concat('%', #{keyword}, '%')
            </if>
            <if test='type == "w"'>
                and b.writer like concat('%', #{keyword}, '%')
            </if>
        </if>

    </select>

    <select id="getList" resultType="BoardListDTO">
        select
        b.bno, b.title, b.writer, b.regDate, b.status,
        concat('s_',i.uuid,'_',i.fileName) fileName
        from tbl_board b
        left outer join tbl_board_image i on i.bno = b.bno
        where (i.ord = 0 or i.ord is null) and b.status = 0
        <if test="type != null and keyword != null">
            <if test='type == "tc"'>
                and (b.title like concat('%', #{keyword}, '%')
                or b.content like concat('%', #{keyword}, '%'))
            </if>
            <if test='type == "t"'>
                and b.title like concat('%', #{keyword}, '%')
            </if>
            <if test='type == "c"'>
                and b.content like concat('%', #{keyword}, '%')
            </if>
            <if test='type == "w"'>
                and b.writer like concat('%', #{keyword}, '%')
            </if>
        </if>
        order by b.bno desc
        limit #{skip}, #{size}
    </select>

    <insert id="insertBoard">
        insert into tbl_board (title, writer, content)
        values (#{title}, #{writer}, #{content})
        <selectKey resultType="long" keyProperty="bno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id = "insertImages">
        insert into tbl_board_image (uuid, bno, fileName, ord) values
        <foreach collection="list" item="item" separator=",">
            ( #{item.uuid}, #{item.bno}, #{item.fileName}, #{item.ord} )
        </foreach>
    </insert>

</mapper>