<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div>
    <ul style="list-style: none;">
        <li th:if="${res != null and res.dtoList != null}" th:each="dto : ${res.dtoList}">
            <span th:text="${dto.bno}"></span>
            <img th:if="${dto.fileName != null}" th:src="@{'http://localhost/' + ${dto.fileName}}"/>
            <a th:href="@{|/board/read/${dto.bno}|(page=${res.requestDTO.page}, size=${res.requestDTO.size})}"
               th:text="${dto.title}"></a>
            <span th:text="${dto.writer}"></span>
            <span th:text="${#strings.substring(dto.regDate, 0, 10)}"></span>
        </li>
    </ul>

    <a th:href="@{|/board/register|}" style="padding: 0 0 0 40px;">글쓰기</a>

    <hr/>

    <div style="padding: 0 0 0 40px;">
        <form>
            <select name="type">
                <option value="tc">제목+내용</option>
                <option value="t">제목</option>
                <option value="c">내용</option>
                <option value="w">작성자</option>
            </select>
            <input type="text" name="keyword">
            <input type="submit" value="검색">
        </form>
    </div>

    <ul style="display: flex; list-style:none;">
        <li th:if="${res.prev}">
            <a th:href="@{|/board/list?page=${res.start - 1}&size=${res.size}|}"
               style="margin-right: 5px;"
            >&lt;&lt; 이전</a>
        </li>
        <li th:each="pageNum : ${res.pageNums}">
            <a th:href="@{|/board/list?page=${pageNum}&size=${res.size}|}"
               th:text="${pageNum}"
               style="margin-right: 5px;"></a>
        </li>
        <li th:if="${res.next}">
            <a th:href="@{|/board/list?page=${res.end + 1}&size=${res.size}|}">다음 &gt;&gt;</a>
        </li>
    </ul>
</div>

</body>
</html>